body {
background: #f5deeb;
     color: rgb(245, 238, 238);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    padding: 20px;
    font-size: 32px;
    color: rgb(11, 35, 66);
    text-align: center;
}

.parte1 {
    background: rgb(149, 115, 185);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.texto {
    margin-right: 10%;}
h1 {
    font-size: 40px;
    color: rgb(178, 16, 184);
    margin-top: 4px;
}

p {
    font-size: 20px;
    margin:2px;
}
h2{
    color: rgb(70, 50, 184);
}
h3{
    color: rgb(93, 74, 197);
}

.categoria-musicas {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
.img{
margin: 2px;
}

.card {
  width: 250px;
  max-height:930px ;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  object-fit: cover;
  margin: 0 auto 10px;
  border: 2px solid rgb(151, 146, 146);
}